---
import PostHogLayout from "@/layouts/PostHogLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <PostHogLayout>
    <main>
      <h1 class="text-center text-lg">Coming soon...</h1>
    </main>
  </PostHogLayout>
</Layout>
