---

---

<main class="mb-32 mt-36 flex select-none flex-col gap-5">
  <span class="text-3xl">Hi, my name is</span>
  <h1 class="text-8xl">Amr Tamer</h1>
  <h2 class="hide text-8xl text-textBase !opacity-60">Software Engineer,</h2>
  <p class="hide text-4xl leading-snug">
    Front-End Developer and Computer Science Student who is always eager to
    learn new things.
  </p>
  <a
    class="hide h-12 w-1/5"
    href="https://drive.google.com/file/d/10RrYjeea-F6ZpEsufV9v3FTMnaosrYiV/view?usp=sharing"
    target="_blank"
  >
    <button
      class="group/downloadCV mt-2 flex items-center gap-2 rounded-lg bg-slate-500 px-4 py-2 text-xl text-black transition duration-200 ease-in-out hover:bg-slate-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        viewBox="0 0 24 24"
        fill="none"
        class="transition duration-200 group-hover/downloadCV:animate-bounce"
      >
        <path
          d="M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 3V16M12 16L16 11.625M12 16L8 11.625"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <span> Download CV </span>
    </button>
  </a>

  <section class="hide mt-48 flex flex-col gap-28">
    <div class="flex flex-col justify-center gap-7">
      <h2 class="text-center text-5xl">Languages</h2>

      <img
        src="https://skillicons.dev/icons?i=cpp,python,html,css,js,ts"
        class="w-2/5 self-center"
      />
    </div>
    <div class="flex flex-col justify-center gap-7">
      <h2 class="text-center text-5xl">Frameworks/Libs/Tools</h2>

      <img
        src="https://skillicons.dev/icons?i=tailwindcss,react,nextjs,astro,firebase,figma"
        class="w-2/5 self-center"
      />
    </div>
  </section>
</main>
