---
import { Image } from "astro:assets";
import { AiFillGithub } from "react-icons/ai";
import { FaLinkedin } from "react-icons/fa";
import { FiDownload } from "react-icons/fi";
---

<!-- 
<main id="home" class="">
  <section class="flex min-h-[80vh] flex-col gap-10">
    <span class="text-2xl 2xl:text-3xl">Hi, my name is</span>
    <h1 class="text-7xl 2xl:text-8xl">Amr Tamer</h1>
    <h2 class="hide text-7xl text-textBase !opacity-60 2xl:text-8xl">
      Software Engineer,
    </h2>
    <p class="hide text-3xl leading-snug 2xl:text-4xl">
      Front-End Developer and Computer Science Student who is always eager to
      learn new things.
    </p>
    <div class="hide flex items-center gap-4">
      <a
        href="https://drive.google.com/file/d/10RrYjeea-F6ZpEsufV9v3FTMnaosrYiV/view?usp=sharing"
        target="_blank"
        class="group/downloadCV btn flex items-center gap-2"
      >
        <FiDownload
          size={25}
          className="group-hover/downloadCV:animate-bounce"
        />
        <span> Download CV </span>
      </a>
      <a
        href="https://github.com/AmrTamer23"
        target="_blank"
        aria-label="Github Account"
        class="btn"
      >
        <AiFillGithub size={28} />
      </a>
      <a
        href="https://www.linkedin.com/in/amrtamer23/"
        target="_blank"
        aria-label="LinkedIn Account"
        class="btn"
      >
        <FaLinkedin size={28} />
      </a>
    </div>
  </section>
  <section class="flex flex-col gap-28 pb-20">
    <div class="flex flex-col justify-center gap-7">
      <h2 class="text-center text-5xl">Languages</h2>

      <Image
        src="https://skillicons.dev/icons?i=cpp,python,html,css,js,ts"
        alt="Languages"
        class="w-4/12 self-center"
        inferSize
        loading="lazy"
      />
    </div>
    <div class="flex flex-col justify-center gap-7">
      <h2 class="text-center text-5xl">Frameworks/Libs/Tools</h2>

      <Image
        src="https://skillicons.dev/icons?i=tailwindcss,nodejs,vue,react,nextjs,astro,firebase,figma&perline=6"
        alt="Frameworks/Libs/Tools"
        class="w-4/12 self-center"
        inferSize
        loading="lazy"
      />
    </div>
  </section>
</main>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });
  const hiddenElements = document.querySelectorAll(".hide");
  hiddenElements.forEach((element) => {
    observer.observe(element);
  });
</script> -->
<main class="flex select-none flex-col *:mx-auto">
  <section class="container flex w-[50dvw] flex-col gap-8">
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-2">
        <h1 class="text-5xl font-bold">Amr Tamer</h1>
        <span class="text-xl"> Software Engineer</span>
      </div>

      <Image
        class="h-48 w-48 rounded-full object-cover p-1 ring-2 ring-btnBase dark:ring-btnBase"
        src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?q=80&w=2043&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Bordered avatar"
        loading="eager"
        inferSize
      />
    </div>
    <div class="space-y-4 *:text-lg [&_span]:block">
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo
        praesentium voluptatem earum! Beatae corporis ullam quas, harum nulla
        quia molestias voluptas aut facere rem officiis! Excepturi illum
        repellendus tenetur.
      </span>
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo
        praesentium voluptatem earum! Beatae corporis ullam quas, harum nulla
        quia molestias voluptas aut facere rem officiis! Excepturi illum
        repellendus tenetur.
      </span>
    </div>
  </section>
</main>
