---
import ProjectItem from "./ui/ProjectItem.astro";
import { projects } from "../lib/projectsData";
---

<section id="projects" class="mb-32 mt-16 h-fit pt-32">
  <h1 class="text-center text-7xl">Featured Projects</h1>
  <section class="mt-10 flex flex-col">
    {projects.map((project) => <ProjectItem project={project} />)}
  </section>
</section>
