@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Cas", monospace;
}

@font-face {
  font-family: "Cas";
  src: url("./assets/fonts/CaskaydiaMonoNerdFont.ttf") format("ttf");
  font-weight: normal;
  font-style: monospace;
}

@font-face {
  font-family: "Cas";
  src: url("./assets/fonts/CaskaydiaMonoNerdFont-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: monospace;
}

@layer base {
  :root {
    --background-color: #000814;
    --text-color: #ffefd5;
    --btn-color: #ffc300;
  }

  .btn {
    @apply rounded-lg bg-btnBase px-4 py-2 text-xl text-black transition duration-200 ease-in-out hover:scale-105;
  }
}

.hide {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}

/* For Web-Kit */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */
scrollbar {
  width: 0.5rem;
}

scrollbar-thumb {
  background-color: var(--btn-color);
  border-radius: 0.2rem;
}

scrollbar-track {
  background-color: transparent;
}
