@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply font-fira;
  min-height: 100dvh;
  color: var(--text-color);
}

@layer base {
  :root {
    --background-color: #0a0908;
    --text-color: #eae0d5;
    --btn-color: #ffc300;
    --primary-color: #c6ac8f;
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-2xl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-3xl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
  }

  .btn {
    @apply rounded-lg bg-btnBase px-4 py-2 text-xl text-black transition duration-200 ease-in-out hover:scale-105;
  }
}

.hide {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}

/* For Web-Kit */
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */
scrollbar {
  width: 0.25rem;
}

scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.2rem;
}

scrollbar-track {
  background-color: transparent;
}
