---
import NavBar from "../components/NavBar.vue";
import "./../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Amr Tamer</title>
  </head>

  <body class="bg-background text-textBase">
    <NavBar client:load />
    <main class="flex">
      <section class="mx-20 mt-10">
        <slot class="w-11/12" />
      </section>
    </main>
  </body>
</html>
