---
import NavBar from "../components/NavBar.vue";
import "./../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Amr Tamer</title>
  </head>

  <body class="font-default bg-background text-textBase">
    <nav class="mb-32">
      <NavBar client:load />
    </nav>
    <main class="h-fit pt-4">
      <slot />
    </main>
  </body>
</html>
