---
import NavBar from "../components/NavBar.vue";
import "./../global.css";
import { ViewTransitions } from "astro:transitions";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<!doctype html>
<html lang="en">
  <head>
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
    />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hi, I'm Amr Tamer, A Software Engineer with 1 year exprience."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Amr Tamer" />
    <ViewTransitions />

    <title>Amr Tamer</title>
  </head>

  <body class="font-default bg-background text-textBase">
    <nav class="mb-24">
      <NavBar client:load />
    </nav>
    <div class="bg-grid-zinc-200/5 absolute z-0 h-[85%] w-full"></div>
    <main class="z-10 h-fit pt-14">
      <slot />
    </main>
  </body>
</html>
